.home #main-header.et-fixed-header {
	background-color: #000;
}
#page-container #main-header {
	background-color: #000;
	position: fixed!important;
}
header.up {
	//position: fixed!important;
	transition: 0.4s ease-in-out!important;
	transform: translate(0,0);
}
header.down {
	transform: translate(0,-100%);
	transition: 0.4s ease-in-out!important;
}

header .container {
	display: flex;
	flex: 1;
	align-items: center;
	width: 100%;
	padding: 2em 30px;
	justify-content: space-between;
	max-width: 1440px;
	margin: 0 auto;
}
#top-menu li.current-menu-ancestor>a, #top-menu li.current-menu-item>a, #top-menu li.current_page_item>a, body .et-fixed-header #top-menu li.current-menu-ancestor>a, body .et-fixed-header #top-menu li.current-menu-item>a, body .et-fixed-header #top-menu li.current_page_item>a {
	color: #fff!important;
}
.et-fixed-header .logo_container #logo {
	width: 150px;
}
header.et-fixed-header > .container {
	padding-top: 10px;
	padding-bottom: 10px;
}
.et_header_style_left .et-fixed-header #et-top-navigation {
	padding-top: 0;
}
#top-header .container,
#main-footer .container,
#footer-bottom .container {
	width: 100%;
	padding-right: 30px;
	padding-left: 30px;
}
span.logo_helper {
	display: block;
}
.et_header_style_left #et-top-navigation {
	padding-left: 0!important;
	padding-top: 0;
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: flex-end;
}

body.et_header_style_left #et-top-navigation nav>ul>li>a, 
body.et_header_style_split #et-top-navigation nav>ul>li>a {
	padding-bottom: 0;
}
.et_header_style_left .logo_container {
	position: relative;
	flex-basis: 250px;
}
.logo_container #logo {
	max-height: none;
	max-width: 100%;
	width: 250px;
}
#top-header .container {
    display: flex;
    justify-content: flex-end;
}

#et-secondary-menu .et-social-icons {
	margin-right: 0;
}

.mobile-only {
	display: none;
	margin-bottom: 2em;
}

.logo-grid .et_pb_row:nth-of-type(2) .et_pb_column {
	display: flex;
	justify-content: center;
	margin-bottom: 6em;
	flex-direction: column;
}
.et_pb_gutters3 .logo-grid .et_pb_column {
	margin-right: 0;
}
.logo-grid .et_pb_image {
	margin: 0;
}
.logo-grid .et_pb_image_wrap {
	text-align: center;
	width: 100%;
	display: flex;
	align-items: center;
}
.justify-content-center {
	justify-content: center;
}
.justify-content-space-between {
	justify-content: space-between;
}

.contact-info .et_pb_text_inner {
	max-width: 1080px;
	margin: auto;
	width: 80%;
}

.splash-container .et_pb_image_wrap::before {
	position: absolute;
    left: 0;
	content: "";
    top: 0;
    width: 100%;
    height: calc(100% - 120px);
    background: linear-gradient(
-10deg
, transparent, rgba(255,255,255,.75) );
    z-index: 1;
	display: none;
}

.splash-container .et_pb_image_wrap::after {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	z-index: 9;
	opacity: .75;
}

.flex-full {
	width: 90%;
}

.bio-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999999;
    background-color: rgba(0,0,0,.85);
}

.bio-container-table {
	display: none;
	height: 100%;
	width: 100%;
}
#bio-391.reveal, #bio-390.reveal {
	display: table;
}
.bio-container-table-cell {
	display: table-cell;
	vertical-align: middle;
	padding: 2em;
}
.bio-container-inner {
	max-width: 800px;
	margin: 0 auto;
	padding: 2em;
	color: #000;
	background-color: #fff;
	position: relative;
}
.bio-container-inner h2,
.bio-container-inner h3 {
	color: #000;
}

.close-bio-container {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 20px;
	width: 20px;
	display: flex;
}

.close-bio-container button {
	position: relative;
	background: none;
	border: none;
	height: 20px;
	width: 20px;
	cursor: pointer;
}
.close-bio-container button::before,
.close-bio-container button::after {
	height: 2px;
	width: 20px;
	background-color: #000;
	content: "";
	position: absolute;
}
.close-bio-container button::before {
	right: 0;
	transform: rotate(45deg);
}
.close-bio-container button::after {
	left: 0;
	transform: rotate(-45deg);
}
#top-header, #top-header .container, #top-header #et-info, #top-header .et-social-icon a {
	line-height: 1.5em;
}

@media (min-width: 981px) {
	.contact-info-flex {
		display: flex;
    	flex-wrap: wrap;
    	justify-content: space-around;
		align-items: center;
	}
	.et_header_style_left .et-fixed-header #et-top-navigation nav>ul>li>a {
		padding-bottom: 0;
	}
	body .et-fixed-header #top-menu li a {
		font-size: inherit;
	}
	.contact-info-flex .et_pb_module:first-child {
		margin-bottom: 0;
	}
	.footer-widget {
		max-width: 33.333%;
		flex-basis: 33.333%;
	}
	.logo-grid .et_pb_column:nth-child(4n+1):nth-last-child(-n+4),
	.logo-grid .et_pb_column:nth-child(4n+1):nth-last-child(-n+4) ~ .et_pb_column {
		margin-bottom: 0;
	}
	.exterior-shot span {
		height: 80vh;
	}
	.exterior-shot img {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
	}
}

@media (max-width: 980px) {
	header .et-social-icons {
		display: none;
	}
	.et_fixed_nav #top-header {
		position: fixed;
	}
	.et-fixed-header .logo_container #logo,
	.logo_container #logo {
		width: 175px;
	}
	header .container {
		padding-top: 1em;
		padding-bottom: 1em;
	}
}

@media (max-width: 480px) {
	.mobile-only {
		display: block;
	}
	.logo-grid .et_pb_column:nth-child(2n+1):nth-last-child(-n+2),
	.logo-grid .et_pb_column:nth-child(2n+1):nth-last-child(-n+2) ~ .et_pb_column {
		margin-bottom: 0;
	}
	#hero {
		padding-top: 63.23px!important;
	}
	.contact-info, .splash-container .et_pb_image_wrap::before, #top-header {
		display: none;
	}
	.mobile-info {
		display: block;
		margin-bottom: 15px;
	}
	.mobile-info:first-of-type {
		margin-top: 15px;
	}
	#top-header .container {
		justify-content: center;
	}
	header .container {
		padding: 1em 30px;
	}
	.et_header_style_left .logo_container  {
		flex-basis: 175px;
	}
	.et_header_style_left .logo_container #logo,
	.et-fixed-header .et_header_style_left .logo_container #logo {
		width: 175px;
	}
}

@media (max-width: 880px) and (orientation: landscape) {
	.mobile-only {
		display: block;
	}
	.et_header_style_left .logo_container  {
		flex-basis: 175px;
	}
	#hero {
		padding-top: 63.23px!important;
	}
	.et_header_style_left .logo_container #logo,
	.et-fixed-header .et_header_style_left .logo_container #logo {
		width: 175px;
	}
	#hero {
		padding-top: 63.23px!important;
	}
	.contact-info, .splash-container .et_pb_image_wrap::before, #top-header {
		display: none;
	}
	.mobile-info {
		display: block;
		margin-bottom: 15px;
	}
	.mobile-info:first-of-type {
		margin-top: 15px;
	}
	#top-header .container {
		justify-content: center;
	}
}

header .et-social-icon a:before,
.mobile-only .et-social-icon a:before {
	color: #e9e9e9;
	font-size: 18px;
}

.mobile-only .et-social-icons {
	text-align: left;
	padding: 0;
}

.mobile-only .et-social-icons .et-social-icon:first-of-type {
	margin-left: 0;
}

.entry-content .mobile-only .et-social-icons {
	line-height: 0;
	margin-bottom: 1em;
}