.light a {
	color: #fff;
}

#footer-bottom p {
	font-size: 12px;
}

#main-footer {
	background-image: url(../img/textures/rubber_texture.jpg);
	position: relative;
}
#main-footer::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .35);
}

// TEXT ALIGNMENT
.text-align-center {
	text-align: center;
}

h2, h3 {
	line-height: 1.35em;
}

.entry-content .featured-product-content ul {
	padding-bottom: 0;
	line-height: 1.25em;
}
.entry-content .featured-product-content li {
	margin-bottom: .5em;
}
.entry-content .featured-product-content li:last-of-type {
	margin-bottom: 0;
}

// FOOTER STYLES
footer .et_pb_widget a {
	text-decoration: underline;
	color: #fff;
}