.home #main-header.et-fixed-header {
  background-color: #000;
}

#page-container #main-header {
  background-color: #000;
  position: fixed !important;
}

header.up {
  -webkit-transition: 0.4s ease-in-out !important;
  transition: 0.4s ease-in-out !important;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

header.down {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: 0.4s ease-in-out !important;
  transition: 0.4s ease-in-out !important;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2em 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}

#top-menu li.current-menu-ancestor > a, #top-menu li.current-menu-item > a, #top-menu li.current_page_item > a, body .et-fixed-header #top-menu li.current-menu-ancestor > a, body .et-fixed-header #top-menu li.current-menu-item > a, body .et-fixed-header #top-menu li.current_page_item > a {
  color: #fff !important;
}

.et-fixed-header .logo_container #logo {
  width: 150px;
}

header.et-fixed-header > .container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.et_header_style_left .et-fixed-header #et-top-navigation {
  padding-top: 0;
}

#top-header .container,
#main-footer .container,
#footer-bottom .container {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
}

span.logo_helper {
  display: block;
}

.et_header_style_left #et-top-navigation {
  padding-left: 0 !important;
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body.et_header_style_left #et-top-navigation nav > ul > li > a,
body.et_header_style_split #et-top-navigation nav > ul > li > a {
  padding-bottom: 0;
}

.et_header_style_left .logo_container {
  position: relative;
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
}

.logo_container #logo {
  max-height: none;
  max-width: 100%;
  width: 250px;
}

#top-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#et-secondary-menu .et-social-icons {
  margin-right: 0;
}

.mobile-only {
  display: none;
  margin-bottom: 2em;
}

.logo-grid .et_pb_row:nth-of-type(2) .et_pb_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 6em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.et_pb_gutters3 .logo-grid .et_pb_column {
  margin-right: 0;
}

.logo-grid .et_pb_image {
  margin: 0;
}

.logo-grid .et_pb_image_wrap {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-info .et_pb_text_inner {
  max-width: 1080px;
  margin: auto;
  width: 80%;
}

.splash-container .et_pb_image_wrap::before {
  position: absolute;
  left: 0;
  content: "";
  top: 0;
  width: 100%;
  height: calc(100% - 120px);
  background: linear-gradient(-10deg, transparent, rgba(255, 255, 255, 0.75));
  z-index: 1;
  display: none;
}

.splash-container .et_pb_image_wrap::after {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  z-index: 9;
  opacity: .75;
}

.flex-full {
  width: 90%;
}

.bio-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: rgba(0, 0, 0, 0.85);
}

.bio-container-table {
  display: none;
  height: 100%;
  width: 100%;
}

#bio-391.reveal, #bio-390.reveal {
  display: table;
}

.bio-container-table-cell {
  display: table-cell;
  vertical-align: middle;
  padding: 2em;
}

.bio-container-inner {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
  color: #000;
  background-color: #fff;
  position: relative;
}

.bio-container-inner h2,
.bio-container-inner h3 {
  color: #000;
}

.close-bio-container {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.close-bio-container button {
  position: relative;
  background: none;
  border: none;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.close-bio-container button::before,
.close-bio-container button::after {
  height: 2px;
  width: 20px;
  background-color: #000;
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
}

.close-bio-container button::before {
  right: 0;
}

.close-bio-container button::after {
  left: 0;
}

#top-header, #top-header .container, #top-header #et-info, #top-header .et-social-icon a {
  line-height: 1.5em;
}

@media (min-width: 981px) {
  .contact-info-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .et_header_style_left .et-fixed-header #et-top-navigation nav > ul > li > a {
    padding-bottom: 0;
  }
  body .et-fixed-header #top-menu li a {
    font-size: inherit;
  }
  .contact-info-flex .et_pb_module:first-child {
    margin-bottom: 0;
  }
  .footer-widget {
    max-width: 33.333%;
    -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%;
  }
  .logo-grid .et_pb_column:nth-child(4n+1):nth-last-child(-n+4),
  .logo-grid .et_pb_column:nth-child(4n+1):nth-last-child(-n+4) ~ .et_pb_column {
    margin-bottom: 0;
  }
  .exterior-shot span {
    height: 80vh;
  }
  .exterior-shot img {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

@media (max-width: 980px) {
  header .et-social-icons {
    display: none;
  }
  .et_fixed_nav #top-header {
    position: fixed;
  }
  .et-fixed-header .logo_container #logo,
  .logo_container #logo {
    width: 175px;
  }
  header .container {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

@media (max-width: 480px) {
  .mobile-only {
    display: block;
  }
  .logo-grid .et_pb_column:nth-child(2n+1):nth-last-child(-n+2),
  .logo-grid .et_pb_column:nth-child(2n+1):nth-last-child(-n+2) ~ .et_pb_column {
    margin-bottom: 0;
  }
  #hero {
    padding-top: 63.23px !important;
  }
  .contact-info, .splash-container .et_pb_image_wrap::before, #top-header {
    display: none;
  }
  .mobile-info {
    display: block;
    margin-bottom: 15px;
  }
  .mobile-info:first-of-type {
    margin-top: 15px;
  }
  #top-header .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .container {
    padding: 1em 30px;
  }
  .et_header_style_left .logo_container {
    -ms-flex-preferred-size: 175px;
        flex-basis: 175px;
  }
  .et_header_style_left .logo_container #logo,
  .et-fixed-header .et_header_style_left .logo_container #logo {
    width: 175px;
  }
}

@media (max-width: 880px) and (orientation: landscape) {
  .mobile-only {
    display: block;
  }
  .et_header_style_left .logo_container {
    -ms-flex-preferred-size: 175px;
        flex-basis: 175px;
  }
  #hero {
    padding-top: 63.23px !important;
  }
  .et_header_style_left .logo_container #logo,
  .et-fixed-header .et_header_style_left .logo_container #logo {
    width: 175px;
  }
  #hero {
    padding-top: 63.23px !important;
  }
  .contact-info, .splash-container .et_pb_image_wrap::before, #top-header {
    display: none;
  }
  .mobile-info {
    display: block;
    margin-bottom: 15px;
  }
  .mobile-info:first-of-type {
    margin-top: 15px;
  }
  #top-header .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header .et-social-icon a:before,
.mobile-only .et-social-icon a:before {
  color: #e9e9e9;
  font-size: 18px;
}

.mobile-only .et-social-icons {
  text-align: left;
  padding: 0;
}

.mobile-only .et-social-icons .et-social-icon:first-of-type {
  margin-left: 0;
}

.entry-content .mobile-only .et-social-icons {
  line-height: 0;
  margin-bottom: 1em;
}

body.et_pb_button_helper_class .et_pb_button,
body.et_pb_button_helper_class .et_pb_button:hover {
  padding: 0.75em 1.5em !important;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.splash > .et_pb_column_0,
.splash > .et_pb_column {
  height: auto !important;
}

.splash .et_pb_image_sticky {
  height: 100%;
}

.splash .et_pb_image_wrap,
.splash .et_pb_image_wrap img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.flex-4 > div {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 50px;
}

.square-logo img {
  max-width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.logo-grid .et_pb_image_wrap {
  max-width: 150px;
  margin-right: auto;
  margin-left: auto;
}

.logo-grid img {
  width: 100% !important;
}

.align-items-center-column {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.max-width-1080 {
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

.max-width-1440 {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.flyer-container {
  display: none;
}

.featured-product-image {
  overflow: hidden;
  position: relative;
}

.box-shadow {
  -webkit-box-shadow: 0 5px 10px #999;
          box-shadow: 0 5px 10px #999;
}

.view-pdf-container {
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  height: 100%;
  width: 100%;
}

.view-pdf-container:hover:before,
.view-pdf-container:hover:after {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.view-pdf-container:before {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
  content: "";
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  top: 0;
  left: 0;
  z-index: 1;
}

.view-pdf-container:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  height: 26px;
  width: 26px;
  content: "\f08e";
  font-size: 26px;
  font-family: fontAwesome;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  color: #fff;
  z-index: 2;
}

.view-pdf-container img {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.view-pdf-container:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.featured-product-image img {
  display: block;
}

.flex-full {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.flex-full-reg {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

.flex-full h1 {
  display: inline-block;
  padding: 10px 25px;
  border: 2 px solid #ff2323;
  background-color: #ff2323;
  color: #fff;
  border-radius: 30px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.featured-product-container .inner {
  border: 2px solid #ff2323;
  padding: 3em 2em 2em;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-middle {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
}

.gutter-space-1 {
  margin-left: -1em;
  margin-right: -1em;
}

.gutter-space-1 > .col {
  padding-left: 1em;
  padding-right: 1em;
}

.gutter-space-2 {
  margin-left: -2em;
  margin-right: -2em;
}

.gutter-space-2 > .col {
  padding-left: 2em;
  padding-right: 2em;
}

.light a {
  color: #fff;
}

#footer-bottom p {
  font-size: 12px;
}

#main-footer {
  background-image: url(../img/textures/rubber_texture.jpg);
  position: relative;
}

#main-footer::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.text-align-center {
  text-align: center;
}

h2, h3 {
  line-height: 1.35em;
}

.entry-content .featured-product-content ul {
  padding-bottom: 0;
  line-height: 1.25em;
}

.entry-content .featured-product-content li {
  margin-bottom: .5em;
}

.entry-content .featured-product-content li:last-of-type {
  margin-bottom: 0;
}

footer .et_pb_widget a {
  text-decoration: underline;
  color: #fff;
}

.chrome-top-border, .chrome-bottom-border {
  position: relative;
}

.chrome-top-border::before, .chrome-bottom-border::before {
  height: 10px;
  width: 100%;
  position: absolute;
  content: "";
  left: 0;
  z-index: 3;
  background-image: url(../img/textures/chrome_texture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.chrome-top-border::before {
  bottom: 100%;
}

.chrome-bottom-border::before {
  top: 100%;
}

.entry-content .splash table:not(.variations) tr, body.et-pb-preview #main-content .container .splash table tr {
  border-bottom: 1px solid #555;
}

.entry-content .splash table:not(.variations) tr:last-of-type, body.et-pb-preview #main-content .container .splash table tr:last-of-type {
  border-bottom-width: 5px;
}

.entry-content .splash table:not(.variations), body.et-pb-preview #main-content .container .splash table {
  border: 1px solid #555;
  max-width: 800px;
}

.entry-content .splash table:not(.variations) thead tr {
  border-bottom: none;
}

.entry-content .splash table:not(.variations) td:nth-of-type(odd), body.et-pb-preview #main-content .container .splash table td:nth-of-type(odd) {
  border-right: 1px solid #555;
}

.entry-content .splash table:not(.variations) td, body.et-pb-preview #main-content .container .splash table td {
  border-top: none;
}

.entry-content .splash table:not(.variations) thead tr td:nth-of-type(odd), body.et-pb-preview #main-content .container .splash table thead tr td:nth-of-type(odd) {
  border-right-color: #fff;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .et_animated, :not(.et_pb_counters).et-waypoint {
    opacity: 1;
  }
  #page-container {
    overflow-x: hidden;
  }
  #footer-widgets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .container {
    padding: 4em 0 3em;
  }
  #footer-bottom {
    background-color: #000;
  }
  #footer-bottom .container {
    padding: 1em 0;
  }
  #our-story {
    background-color: #000;
  }
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  -webkit-transition-duration: 0.22s;
          transition-duration: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

body .logo-grid .et_pb_row:nth-of-type(2) > .et_pb_column {
  margin-bottom: 0;
}

#main-header .et_mobile_menu {
  background-color: #fff !important;
}

#main-header .et_mobile_menu a {
  color: #333 !important;
}

.opened .mobile_menu_bar:before {
  content: "\4d";
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

@media (min-width: 981px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 980px) {
  .et_header_style_left header #et-top-navigation, .et_header_style_left .et-fixed-header #et-top-navigation, .et_header_style_left #et-top-navigation {
    display: none;
  }
  body header.et-fixed-header > .container {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.menuContainer {
  position: fixed;
  overflow: auto;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.menuOpen .menuContainer {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.menuContainer h1 {
  text-transform: uppercase;
  font-size: 45px;
}

.menuContainer .innerContainer {
  padding-top: 4em;
  padding-bottom: 4em;
}

html.menOpen, body.menuOpen {
  overflow: hidden;
  width: 100%;
}

.menu-item-has-children {
  position: relative;
}

.nav ul.sub-menu {
  position: absolute;
  left: 0;
  margin: 0;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  background-color: #000;
  padding: 0;
}

.nav .sub-menu li a {
  color: #fff;
  font-weight: 500;
}

.nav .sub-menu li a:hover {
  color: #999;
}

.menuInner .sub-menu {
  display: none;
  margin: 0;
}

.menu-item-has-children:hover > .sub-menu, .menu-item-has-children.hover > .sub-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.sub-menu li {
  display: block;
  border: none;
  text-align: left;
  white-space: nowrap;
}

.sub-menu li:first-of-type {
  margin-top: 20px;
}

.wrapper ul.sub-menu li:last-of-type {
  margin-bottom: 20px;
}

.sub-menu li::after {
  display: none;
}

.sub-menu li a {
  color: #fff;
  padding: 10px 30px;
}

.hamburger {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  z-index: 9999999;
  outline: none;
  padding: 0;
  margin-left: 10px;
  right: 30px;
  position: fixed;
  top: 18px;
}

.down .hamburger {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.hamburger.is-active:hover, .hamburger:hover {
  opacity: 1;
}

.hamburger-box {
  width: 25px;
  vertical-align: middle;
  height: 25px;
}

.hamburger-inner, .hamburger--spin .hamburger-inner::before, .hamburger--spin .hamburger-inner::after {
  background-color: #fff;
  width: 25px;
  height: 2px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.menuToggle:hover .hamburger-inner,
.menuToggle:hover .hamburger-inner::before,
.menuToggle:hover .hamburger-inner::after,
.menuToggle:hover .hamburger.is-active .hamburger-inner,
.menuToggle:hover .hamburger.is-active .hamburger-inner::before,
.menuToggle:hover .hamburger.is-active .hamburger-inner::after {
  background-color: #000;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburger-inner {
  margin-top: -1px;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-inner::before {
  top: -7px;
}

.hamburger-inner::after {
  bottom: -7px;
}

.nav a {
  color: #000;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.downArrow,
.downArrow::after,
.downArrow::before,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav a:hover {
  color: #000;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav a:hover .downArrow, .nav a:hover .downArrow::after, .nav a:hover .downArrow::before {
  background-color: #000;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.menuContainer .downloadFinancials a {
  padding-right: 30px;
}

.menuContainer .downloadFinancials a::after {
  width: 22px;
  height: 24px;
  top: 18px;
}

.menuOverlay {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  z-index: 999999;
  background-color: #000;
  overflow: auto;
}

.menuInner {
  padding: 5em 2em;
}

.menuInner > ul:first-of-type {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@keyframes fadeInUp {
  from {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.menu-item {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.menu-item {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  position: relative;
}

.menu-item:nth-of-type(1) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.menu-item:nth-of-type(2) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.menu-item:nth-of-type(3) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.menu-item:nth-of-type(4) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.menu-item:nth-of-type(5) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.menu-item:nth-of-type(6) {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

.menu-item:nth-of-type(7) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.menuInner > ul:first-of-type li {
  margin-bottom: 50px;
}

.sub-menu > .menu-item {
  -webkit-animation: none;
          animation: none;
  opacity: 1;
}

.menuInner > ul:first-of-type li {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.menuInner > ul:first-of-type ul.sub-menu li {
  margin-bottom: 10px;
  border-bottom: 0;
  padding-bottom: 0;
}

.menu-item-has-children::after {
  right: 0;
  top: 5px;
  content: "\f107";
  font-family: fontAwesome;
  position: absolute;
}

.menuInner span.sub-toggle {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  padding: 0 10px;
  z-index: 10;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
}

.sub-toggle > .fa-angle-down {
  color: #000;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.sub-toggle > .fa-angle-down.is-active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.socialButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socialButtons li {
  padding: 10px;
}

.menuInner li::marker {
  height: 0;
  width: 0;
  font-size: 0;
}

.menuInner a {
  font-size: 20px;
}

.menuInner > ul:first-of-type a {
  color: #fff;
  text-decoration: none;
  position: relative;
  display: block;
}

.menu {
  list-style: none;
}

.menuInner li a::after {
  margin-top: 10px;
  font-size: 20px;
  color: #999;
  display: block;
}

@media (min-width: 481px) and (orientation: portrait) {
  .hamburger {
    top: 75px;
  }
}

@media (min-width: 981px) {
  .last .et_pb_column:nth-child(4n+1):nth-last-child(-n+4),
  .last .et_pb_column:nth-child(4n+1):nth-last-child(-n+4) ~ .et_pb_column {
    padding-bottom: 0;
  }
  body.et_header_style_left #et-top-navigation,
  body.et_header_style_left .et-fixed-header #et-top-navigation {
    padding-top: 0;
  }
  body.et-fixed-header #top-menu li a {
    font-size: inherit;
  }
  .top-bottom-padding {
    padding-top: 4em;
    padding-bottom: 4em;
  }
  .flex-direction-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .splash .et_pb_column {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .featured-product-content {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    max-width: 45%;
  }
}

@media (min-width: 1025px) {
  .featured-product-image {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
}

@media (max-width: 1024px) {
  .featured-product-content,
  .featured-product-image {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .flex-full {
    width: 80%;
  }
  .featured-product-image {
    margin-top: auto;
  }
  .featured-product-content {
    margin-bottom: 1em;
  }
}

@media (max-width: 980px) {
  .last .et_pb_column:nth-child(4n+1):nth-last-child(-n+4),
  .last .et_pb_column:nth-child(4n+1):nth-last-child(-n+4) ~ .et_pb_column {
    padding-bottom: 0;
  }
  .et_pb_row_1-2_1-4_1-4 .et_pb_column:nth-last-child(-n+2), .et_pb_row_1-4_1-4 .et_pb_column:nth-last-child(-n+2), .et_pb_row_4col .et_pb_column:nth-last-child(-n+2) {
    margin-bottom: 30px;
  }
  .flex-full h1 {
    font-size: 14px;
  }
  .featured-product-content,
  featured-product-image {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .featured-product-content {
    margin-bottom: 2em;
  }
  .top-bottom-padding {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .featured-product-container.top-bottom-padding {
    padding-top: 4em;
    padding-bottom: 4em;
  }
  .splash {
    height: auto !important;
  }
  .featured-product-container .inner {
    padding-top: 4em;
  }
  .splash .display-flex > div {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .logo-grid .display-flex .et_pb_column {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
    padding-right: 2em;
    padding-left: 2em;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .logo-grid .display-flex .et_pb_column {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
    padding-left: 1em;
    padding-right: 1em;
  }
  .display-flex-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logo-grid .et_pb_image_wrap {
    max-width: 80px;
  }
  .et_pb_row .et_pb_column.et_pb_column_1_4.et-last-child, .et_pb_row .et_pb_column.et_pb_column_1_4:last-child, .et_pb_row .et_pb_column.et_pb_column_1_5.et-last-child, .et_pb_row .et_pb_column.et_pb_column_1_5:last-child, .et_pb_row .et_pb_column.et_pb_column_1_6.et-last-child, .et_pb_row .et_pb_column.et_pb_column_1_6:last-child,
  .logo-grid .display-flex .et_pb_column {
    margin-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .last .et_pb_column:nth-child(4n+1):nth-last-child(-n+4),
  .last .et_pb_column:nth-child(4n+1):nth-last-child(-n+4) ~ .et_pb_column,
  .last .et_pb_column:nth-child(3n+1):nth-last-child(-n+3),
  .last .et_pb_column:nth-child(3n+1):nth-last-child(-n+3) ~ .et_pb_column {
    padding-bottom: 50px;
  }
  .logo-grid .last .et_pb_column:nth-child(2n+1):nth-last-child(-n+2),
  .logo-grid .last .et_pb_column:nth-child(2n+1):nth-last-child(-n+2) ~ .et_pb_column {
    padding-bottom: 0;
  }
  .featured-product-container {
    padding-right: 2em;
    padding-left: 2em;
  }
  .max-width-1440 {
    width: 100%;
  }
  .flex-full {
    top: -17px;
  }
  .col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .featured-product-container .inner {
    padding: 2em;
    padding-top: 3em;
  }
  .col {
    margin-bottom: 2em;
  }
  .col:last-of-type {
    margin-bottom: 0;
  }
  .display-flex > div {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .et_pb_svg_logo #logo, .et_pb_svg_logo.et_header_style_split .et-fixed-header .centered-inline-logo-wrap #logo {
    height: auto;
    max-width: 180px;
  }
}

@media (max-width: 55em) and (orientation: landscape) {
  .logo-grid .display-flex .et_pb_column {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
    padding-left: 2em;
    padding-right: 2em;
    margin-right: 0;
  }
  .featured-product-container {
    padding-right: 2em;
    padding-left: 2em;
  }
  .max-width-1440 {
    width: 100%;
  }
  .featured-product-container .inner {
    padding: 2em;
    padding-top: 3em;
  }
  .et_pb_row .et_pb_column.et_pb_column_1_4.et-last-child, .et_pb_row .et_pb_column.et_pb_column_1_4:last-child, .et_pb_row .et_pb_column.et_pb_column_1_5.et-last-child, .et_pb_row .et_pb_column.et_pb_column_1_5:last-child, .et_pb_row .et_pb_column.et_pb_column_1_6.et-last-child, .et_pb_row .et_pb_column.et_pb_column_1_6:last-child,
  .logo-grid .display-flex .et_pb_column {
    margin-bottom: 50px;
  }
  .et_pb_svg_logo #logo, .et_pb_svg_logo.et_header_style_split .et-fixed-header .centered-inline-logo-wrap #logo {
    height: auto;
    max-width: 180px;
  }
}
/*# sourceMappingURL=main.css.map */