.display-flex {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	//margin-right: -2rem;
	//margin-left: -2rem;
}
.display-flex .et_pb_column {
	padding-bottom: 50px;
}
.align-items-center {
	align-items: center;
}
.flex-4 > div {
	flex: 0 0 25%;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 50px;
}
.square-logo img {
	max-width: 100px;
	margin-right: auto;
	margin-left: auto;
}

// LOGO GRID
.logo-grid .et_pb_image_wrap {
	max-width: 150px;
	margin-right: auto;
	margin-left: auto;
}

.logo-grid img {
	width: 100%!important;
}

.flex-direction-column {
	flex-direction: column;
}
.align-items-center-column {
	justify-content: center;
}

// MAX WIDTH
.max-width-1080 {
	max-width: 1080px;
	margin-right: auto;
	margin-left: auto;
}

// FEATURED PRODUCT IMAGE
.featured-product-image img {
	display: block;
}

.flex-full {
	flex: 0 0 100%;
	max-width: 100%;
}