.home #main-header {
	background-color: transparent;
}
.home #main-header.et-fixed-header {
	background-color: #000;
}
#main-header {
	background-color: #000;
	position: fixed!important;
}
header.up {
	//position: fixed!important;
	transition: 0.4s ease-in-out;
	transform: translate(0,0);
}
header.down {
	transform: translate(0,-100%);
}