.chrome-top-border, .chrome-bottom-border {
	position: relative;
}
.chrome-top-border::before, .chrome-bottom-border::before {
	height: 10px;
	width: 100%;
	position: absolute;
	content: "";
	left: 0;
	z-index: 3;
	background-image: url(../img/textures/chrome_texture.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.chrome-top-border::before {
	bottom: 100%;
}
.chrome-bottom-border::before {
	top: 100%;
}

// TABLE STYLES
.entry-content .splash table:not(.variations) tr, body.et-pb-preview #main-content .container .splash table tr {
	border-bottom: 1px solid #555;
}
.entry-content .splash table:not(.variations) tr:last-of-type, body.et-pb-preview #main-content .container .splash table tr:last-of-type {
	border-bottom-width: 5px;
}

.entry-content .splash table:not(.variations), body.et-pb-preview #main-content .container .splash table {
	border: 1px solid #555;
}

.entry-content .splash table:not(.variations) thead tr {
	border-bottom: none;
}

.entry-content .splash table:not(.variations) td:nth-of-type(odd), body.et-pb-preview #main-content .container .splash table td:nth-of-type(odd) {
	border-right: 1px solid #555;
}

.entry-content .splash table:not(.variations) td, body.et-pb-preview #main-content .container .splash table td {
	border-top: none;
}

.entry-content .splash table:not(.variations) thead tr td:nth-of-type(odd), body.et-pb-preview #main-content .container .splash table thead tr td:nth-of-type(odd) {
	border-right-color: #fff;
}