@media (max-width: 30em) {
	.logo-grid .display-flex .et_pb_column {
		flex: 0 0 50%;
		max-width: 50%;
		padding: 0 1em;
	}
	.display-flex-mobile {
		display: flex;
	}
	.logo-grid .et_pb_image_wrap {
	    max-width: 80px;
	}
	.et_pb_row .et_pb_column.et_pb_column_1_4.et-last-child, .et_pb_row .et_pb_column.et_pb_column_1_4:last-child, .et_pb_row .et_pb_column.et_pb_column_1_5.et-last-child, .et_pb_row .et_pb_column.et_pb_column_1_5:last-child, .et_pb_row .et_pb_column.et_pb_column_1_6.et-last-child, .et_pb_row .et_pb_column.et_pb_column_1_6:last-child {
		margin-bottom: 30px;
	}
}