@media (max-width: 55em) and (orientation: landscape) {
	.logo-grid .display-flex .et_pb_column {
		flex: 0 0 25%;
		max-width: 25%;
		padding: 0 2em;
		margin-right: 0;
	}
	.et_pb_row .et_pb_column.et_pb_column_1_4.et-last-child, .et_pb_row .et_pb_column.et_pb_column_1_4:last-child, .et_pb_row .et_pb_column.et_pb_column_1_5.et-last-child, .et_pb_row .et_pb_column.et_pb_column_1_5:last-child, .et_pb_row .et_pb_column.et_pb_column_1_6.et-last-child, .et_pb_row .et_pb_column.et_pb_column_1_6:last-child,
	.logo-grid .display-flex .et_pb_column {
		margin-bottom: 50px;
	}
}
	
	@media (max-width: 30em) {
	.logo-grid .display-flex .et_pb_column {
		flex: 0 0 50%;
		max-width: 50%;
		padding: 0 1em;
	}
	.display-flex-mobile {
		display: flex;
	}
	.logo-grid .et_pb_image_wrap {
	    max-width: 80px;
	}
	.et_pb_row .et_pb_column.et_pb_column_1_4.et-last-child, .et_pb_row .et_pb_column.et_pb_column_1_4:last-child, .et_pb_row .et_pb_column.et_pb_column_1_5.et-last-child, .et_pb_row .et_pb_column.et_pb_column_1_5:last-child, .et_pb_row .et_pb_column.et_pb_column_1_6.et-last-child, .et_pb_row .et_pb_column.et_pb_column_1_6:last-child,
	.logo-grid .display-flex .et_pb_column {
		margin-bottom: 50px;
	}
}

@media (min-width: 981px) {
	.display-flex:last-of-type .et_pb_module:nth-child(4n+1):nth-last-child(-n+4),
	.display-flex:last-of-type .et_pb_module:nth-child(4n+1):nth-last-child(-n+4) ~ .et_pb_module {
		padding-bottom: 0;
	}
}

@media (max-width: 980px) {
	.display-flex:last-of-type .et_pb_module:nth-child(3n+1):nth-last-child(-n+3),
	.display-flex:last-of-type .et_pb_module:nth-child(3n+1):nth-last-child(-n+3) ~ .et_pb_module {
		padding-bottom: 0;
	}
	.logo-grid .display-flex .et_pb_column {
		flex: 0 0 33.333%;
		max-width: 33.333%;
		margin-right: 0;
	}
}